@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Righteous&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #4d7c0f;
    --secondary-color: white;
}

/** container **/
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/** links **/
.link{
    text-decoration: none;
    padding: 0.5rem 2rem;
}
.primary-link{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
}

.secondary-link{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
    
}

